body {
	vertical-align: middle;
	background-color: #ffe1e6;
}

img {
	display: block;
	border: 5px solid teal;
	margin-left: auto;
    margin-right: auto;
	width: 50%;
	height: 50%;
}

h2 {
	color: #86608E;
	text-align: center;
}
h3 {
	color: teal;
}

p {
	font-family: Helvetica, Sans-Serif;
}

ul {
	font-family: Helvetica, Sans-Serif;
}

#page-wrap {
	width: 500px;
	margin: 0 auto;
}

